<!DOCTYPE html>
<html lang="{str_replace('_', '-', app()->getLocale())}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="{asset('favicon.ico')}">

    <link rel="stylesheet" href="{asset('css/uikit.css')}?m={filemtime(public_path('css/uikit.css'))}">
    <script src="{asset('js/uikit.js')}?m={filemtime(public_path('js/uikit.js'))}"></script>
    <script src="{asset('js/uikit-icons.js')}?m={filemtime(public_path('js/uikit-icons.js'))}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<aside class="uk-display-inline-block uk-float-left uk-box-shadow-xlarge" style="padding: 20px 20px 0; width: 10%; background-color: #ddd; height: 100vh">
    <h3 class="uk-text-bold">VMix handler</h3>
    <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a href="#">Active</a></li>
        <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
                <li><a href="#">Sub item</a></li>
                <li><a href="#">Sub item</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div class="uk-container uk-container-expand" style="padding-top: 20px">
    <div id="app">
        <ul uk-tab>
            <li class="uk-active"><a href="#">Karta</a></li>
            <li><a href="#">Tabulka</a></li>
            <li><a href="#">Pavouk</a></li>
        </ul>
        <div class="uk-flex" style="align-items: center">
            <label for="boxCount" class="uk-margin-right">Počet:</label>
            <button type="button" class="uk-icon-button uk-margin-small-right" uk-icon="minus" v-on:click="boxCount--"></button>
            <input v-model="boxCount" type="number" class="uk-input uk-input-small uk-margin-small-right" id="boxCount" min="1" @input="generateBoxes()" style="width: 5%">
            <button type="button" class="uk-icon-button uk-margin-large-right" uk-icon="plus" v-on:click="boxCount++"></button>

            <label for="boxWidth" class="uk-margin-right">Šířka:</label>
            <button type="button" class="uk-icon-button uk-margin-small-right" uk-icon="minus" v-on:click="boxWidth--"></button>
            <input v-model="boxWidth" type="number" class="uk-input uk-input-small uk-margin-small-right" id="boxWidth" min="1" style="width: 5%" readonly>
            <button type="button" class="uk-icon-button uk-margin-large-right" uk-icon="plus" v-if="boxWidth < 6" v-on:click="boxWidth++"></button>
            <button type="button" class="uk-icon-button uk-margin-large-right" uk-icon="plus" v-else hidden></button>
        </div>

        <ul class="uk-grid-small" :class="'uk-child-width-1-'+boxWidth" uk-sortable="handle: .uk-card" uk-grid>
            <li v-for="(box, index) in boxes" :key="index">
                <div class="uk-card uk-card-small uk-card-default uk-card-body uk-text-center uk-box-shadow-hover-large">
                    <form>
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin-small-bottom uk-flex uk-flex-column" :id="'appender-'+index">
                                <div class="uk-flex">
                                    <input class="uk-input uk-margin-right uk-margin-small-bottom" type="text" v-model="box.inputValue" :placeholder="box.placeholder" aria-label="Input">
                                    <button uk-toggle="target: #modal-id-field-id" type="button" uk-icon="pencil"></button>
                                </div>
                            </div>

                            <div class="uk-inline">
                                <button type="button" class="uk-margin-small-right uk-icon-button" v-on:click="appendText(index)" uk-icon="file-text"></button>
                                <button type="button" class="uk-margin-small-right uk-icon-button" v-on:click="appendNumber(index)" uk-icon="tag"></button>
                                <button type="button" class="uk-margin-small-right uk-icon-button" v-on:click="appendCheckbox(index)" uk-icon="check"></button>
                                <button type="button" class="uk-margin-small-right uk-icon-button" v-on:click="appendImage(index)" uk-icon="image"></button>
                                <button type="button" class="uk-margin-small-left uk-icon-button" style="background-color: #39f; color: white" v-on:click="duplicateFields()" uk-icon="album"></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        function appendText(id) {
            document.getElementById("appender-"+id).innerHTML += '<div class="uk-flex"><input class="uk-input uk-margin-right uk-margin-small-bottom" type="text" placeholder="Text" aria-label="Input"><button uk-toggle="target: #modal-id-field-id" type="button" uk-icon="pencil"></button></div>';
        }

        function appendNumber(id) {
            document.getElementById("appender-"+id).innerHTML += '<div class="uk-flex"><input class="uk-input uk-margin-right uk-margin-small-bottom" type="number" placeholder="Number" aria-label="Input"><button uk-toggle="target: #modal-id-field-id" type="button" uk-icon="pencil"></button></div>';
        }

        function appendCheckbox(id) {
            document.getElementById("appender-"+id).innerHTML += '<div class="uk-flex uk-flex-between uk-margin-small-bottom"><label><input class="uk-checkbox" type="checkbox" checked> Checkbox</label><button uk-toggle="target: #modal-id-field-id" type="button" uk-icon="icon: pencil; ratio: 0.85"></button></div>';
        }

        function appendImage(id) {
            document.getElementById("appender-"+id).innerHTML += '<div class="uk-flex" uk-form-custom="target: true"><input type="file" aria-label="Custom controls"><input class="uk-input uk-margin-small-bottom uk-margin-right" type="text" placeholder="Select file" aria-label="Custom controls" disabled><button uk-toggle="target: #modal-id-field-id" type="button" uk-icon="pencil"></button></div>';
        }
    </script>

    <script>
        new Vue({
            el: '#app',
            data: {
                boxCount: 1,
                boxWidth: 1,
                boxes: [{ inputValue: '', placeholder: 'Enter text', newInputValue: '', newPlaceholder: 'New text' }]
            },
            methods: {
                generateBoxes() {
                    console.log('sadsda');
                    this.boxes = Array.from({ length: parseInt(this.boxCount) }, () => ({
                        inputValue: '',
                        placeholder: 'Enter text',
                        newInputValue: '',
                        newPlaceholder: 'New text'
                    }));
                },
                duplicateFields() {
                    let data = document.getElementById("appender").innerHTML;
                }
            }
        });
    </script>
</div>
</html>
