{layout '_layout.latte'}

{block content}
<div class="uk-container uk-container-expand" style="padding-top: 20px">
    <div id="app">
        {include 'partials/nav.latte'}
    </div>
</div>
{/block}
