/*
    Globální font
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*
    Schovat šipky u inputu typu number
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

